@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root{
	--prim: #3485F0;
	--dgr: #F03434;
	--bg: #eee;
	--fg: #fff;
	--txt: #111;
	--subtxt: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
	width: 800px;
	background-color: var(--bg);
	margin: 0 auto;
}

.btn{
	padding: 10px 14px;
	background-color: var(--prim);
	color: var(--fg);
	border-radius: 5px;
	font-size: 16px;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.btn:hover{
	filter: brightness(.9);
}

.btn.scnd{
	background-color: var(--fg);
	color: var(--prim);
	font-size: 14px;
}

nav{
	background-color: var(--fg);
	height: 100px;
	border-radius: 0 0 10px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
}

.logo{
	font-weight: bold;
	font-size: 20px;
    color: var(--subtxt);
}

.contacts{
	background-color: var(--fg);
	padding: 20px;
	border-radius: 10px;
	margin-top: 20px;
}

.contact{
	display: flex;
	justify-content: space-between;
	background-color: var(--prim);
	padding: 20px;
	border-radius: 10px;
	color: var(--fg);
}

.contact:not(:last-of-type){
	margin-bottom: 20px;
}

.contact div:first-of-type{
	margin-right: 20px;
}

.contact .name{
	font-size: 20px;
	font-weight: bold;
}

.contact .msg{
	font-size: 16px;
	color: var(--bg);
	margin-top: 10px;
}

.contact .bot{
	display: flex;
	width: 100%;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

.contact .bot a{
	margin-right: 10px;
}

.contact .btns{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.contact .btns .btn:first-of-type{
	margin-bottom: 10px;
}

.btn.del{
	color: var(--dgr);
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .75);
}